<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chit-Chat</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>

    <div class="sidebar">
      <header>Active Users</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i> Main Room </a>
        </li>

        <% for(let i=0; i < data.length; i++){ %>
            <li>
                <a href="#"><i class="fas fa-user"></i> <%= data[i] %> </a>
            </li>
        <% } %>

        
      </ul>
    </div>

    <div class="container">
      <div id="send-container">
        <div class="messageBox left">
          <p>Hello testing 1</p>
        </div>
        <div class="messageBox right">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti,
            magnam dolorem laudantium cum rerum ut reprehenderit adipisci
            voluptas accusantium corrupti?
          </p>
        </div>
        <div class="messageBox left">
          <p>Hello testing 3</p>
        </div>
        <div class="messageBox left">
          <p>Hello testing 4</p>
        </div>
        <div class="messageBox left">
          <p>Hello testing 1</p>
        </div>
        <div class="messageBox right">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti,
            magnam dolorem laudantium cum rerum ut reprehenderit adipisci
            voluptas accusantium corrupti?
          </p>
        </div>
        <div class="messageBox left">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt ex vitae pariatur aspernatur aut, eligendi nihil sit iusto hic qui autem alias maxime reprehenderit perspiciatis saepe doloremque ipsa neque corrupti! Non impedit minima odit.</p>
        </div>
        <div class="messageBox left">
          <p>Hello testing 5</p>
        </div>
      </div>
    </div>
    <div class="send">
      <form action="" method="post">
        <input
          type="text"
          name="messageInp"
          id="messageInp"
          placeholder="Type a message"
          autocomplete="off"
          autofocus
        />
        <button class="btn" type="submit">Send</button>
      </form>
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->
    </div>
  </body>
</html>
